<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-2">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            </a>
            <div class="home">
                <i class="fa-solid fa-house"></i>
                IT SOLUTIONS PVT. LTD. HEADQUARTERS
            </div>
            <div class="location mt-2">
                <i class="fa-solid fa-location-dot"></i>
                1st Floor, SV Towers, #27, 80 Feet Road, 6th Block, Koramangala, Bangalore - 560095.
            </div>
            <div class="mail mt-2">
                <i class="fa-solid fa-envelope"></i>
                info@ITsolutions.com
            </div>
            <div class="time mt-2">
                <i class="fa-solid fa-business-time"></i>
                Mon - Sat : 9:00 - 18:00
            </div>
            <div class="number mt-2">
                <i class="fa-solid fa-phone"></i>
                +91 80 49 60 2727
            </div>
        </div>

        <div class="col mb-2">

        </div>

        <div class="col mb-3" class="heading">
            <h5>Services</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Velocious Sourcing
                        and Supplier Collabartion</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Accounts Payable
                        Invoice Automation</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Data Archiving</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Digital Signature</a>
                </li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Invoice
                        Automation</a></li>
            </ul>
        </div>
        <div class="col mb-3"  class="heading">
            <h5>Useful Links</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Community</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Blogs</a></li>
                <li class="nav-item mb-2"><a href="#"
                        class="nav-link p-0 text-body-secondary">Magazines-Business</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Infromation</a></li>
            </ul>
        </div>

        <div class="col mb-3" class="heading">
            <h5>Social Media</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Linkedin</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Facebook</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
            </ul>
        </div>


    </footer>
</div>
<footer class="bottom">
    <p >Copyright IT Solutions Pvt Ltd. All right reserved © 2015.</p>
</footer>

