

  <section id="services">
    <div class="services">
        <h3>Services</h3>
    </div>
    <div class="container justify-content-center">
        <div class="row mb-2 mt-3">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative shadow">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">VELOCIOUS SOURCING AND SUPPLIER COLLABORATION</h3>
                        <p class="card-text mb-auto mt-2">Velocious Sourcing and Supplier Collaboration from Avaali
                            offers a
                            comprehensive solution that transforms supplier engagement processes into streamlined,
                            efficient
                            operations. By automating the entire lifecycle—from supplier onboarding to invoice
                            processing—it
                            accelerates time to market and improves margins while mitigating risks. This platform
                            stands
                            out
                            with its seamless integration capabilities, supporting integration with leading ERP
                            systems
                        </p>
                        <button class="btn btn-primary btn-sm new mt-2">Know More</button>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="410" src="/assets/velocious.jpg" alt="">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative shadow">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">ACCOUNTS PAYABLE INVOICE AUTOMATION</h3>
                        <p class="mb-auto">
                            In response to the growing challenges in Accounts Payable (AP) invoice processing,
                            organizations
                            are increasingly turning to technology solutions like OpenText Vendor Invoice Management
                            (VIM).
                            This SAP-centric solution offers a robust framework to automate and streamline the
                            entire
                            invoice lifecycle within SAP environments. By digitizing paper invoices and leveraging
                            workflow
                            automation, VIM accelerates processing times, reduces errors, and enhances transparency
                            across
                            invoice management.</p>
                        <button class="btn btn-primary btn-sm new mt-3">Know More</button>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="410" src="/assets/Payable.jpg"
                            alt="">
                    </div>
                </div>
            </div>



            <!-- <div class="row mb-2 mt-4"> -->
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative shadow">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">DATA ARCHIVING</h3>
                        <p class="card-text mb-auto">The exponential growth of data within SAP systems poses
                            significant
                            challenges such as degraded application performance, increased storage costs, and
                            heightened
                            administration complexities. Data Archiving emerges as the optimal solution, enabling
                            organizations to efficiently manage vast volumes of infrequently accessed data. This
                            process
                            involves transferring data from active database storage to cost-effective archive
                            storage
                            while maintaining seamless accessibility through SAP interfaces.</p>
                        <button class="btn btn-primary btn-sm new mt-3">Know More</button>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="410" src="/assets/Data.avif"
                            alt="">
                        

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">DIGITAL SIGNATURE</h3>
                        <p class="mb-auto">In today's competitive business environment, the shift towards digital
                            transactions from traditional paper-based processes is crucial for efficiency and
                            customer
                            satisfaction. Electronic signatures (e-signatures) emerge as a pivotal technology,
                            enabling
                            swift and secure signing of documents, thereby reducing costs and accelerating deal
                            closures. Whether for small businesses or large enterprises, e-signatures streamline
                            workflows, expedite project timelines, and improve cash flow by eliminating the delays
                            associated with manual paperwork.</p>
                        <button class="btn btn-primary btn-sm new mt-3">Know More</button>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="410" src="/assets/signature.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  