<section id="about">
    <div class="container container1">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-3">
            <div class="col-12 col-lg-6 text-center text-lg-start">
                <img src="/assets/ABOUT.jpg" class="img-fluid rounded" alt="Bootstrap Themes" loading="lazy">
            </div>
            <div class="col-12 col-lg-6">
                <h5 class="display-5 fw-bold lh-1 mb-3">REDUCE CYCLE TIME AND COST OF OPERATIONAL BUSINESS PROCESSES
                    VIA DIGITAL</h5>
                <p class="lead">Avaali was incorporated in 2012. We started operations in January 2013. We operated
                    from a business centre in Koramangala for about 3 months before moving to an office. We started
                    with 4 team members on board. While we were small, our vision was just right and we were doing
                    everything right to allow for scale and growth in the coming years. We met close to 500+
                    enterprise customers during this period. As always, there is a lot of learning from meeting
                    customers understanding their challenges, their priorities and their thoughts is paramount to
                    providing solutions that makes sense to them.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-sm px-4 me-md-2 mb-3">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>

